<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Weary Traveler Travel Tracker</title>
</head>
<body>
<div id="body-container"> 
        <header>
        <img src="/images/header.png"> 
    </header>
    <nav>
        <a href="/flights">All Flights</a>  &nbsp; &nbsp; &nbsp; 
        <a href="/flights/new">Add a Flight</a>

    </nav>

    <main>
        <h3><%= title %></h3>
    <span class="table"> 


